.fdm-menu-filtering,
.fdm-menu-filtering * {
	box-sizing: border-box;
}
.fdm-menu-filtering {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.fdm-filtering {
	border-radius: 8px;
	padding: 16px 20px 24px 12px;
	margin-bottom: 16px;
}
.fdm-filtering h3 {
	margin-top: -32px !important;
	font-size: 20px;
	font-weight: bold;
}
.fdm-filtering-section {
	margin-left: 8px;
	display: flex;
	align-items: center;
}
.fdm-filtering-label {
	font-size: 15px;
}
.fdm-filtering-text-input,
.fdm-filtering-sorting-input {
	width: 200px !important;
	border-radius: 4px;
}
.fdm-filtering-min-price-input, .fdm-filtering-max-price-input {
	border-radius: 4px;
	width: 80px !important;
}
.fdm-filtering-price-slider-price-display .fdm-filtering-min-price-display,
.fdm-filtering-price-slider-price-display .fdm-filtering-max-price-display,
.fdm-filtering-price-slider-price-display .fdm-filtering-price-separator {
	font-size: 15px;
	display: block;
	float: left;
	margin-top: 21px;
}

.fdm-filtering-price-separator {
	width: 40px;
}
#fdm-filtering-price-slider {
	width: 176px;
	margin: 2px 0 0 12px;
}

.fdm-the-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	margin: 80px 0 0;
	color: #212427;
}

.fdm-menu-image,
.fdm-menu-image * {
	box-sizing: border-box;
	float: none;
}
.fdm-menu-image {
	display: flex;
	flex-direction: column;
	width: 100% !important;
	clear: none !important;
	margin-left: auto;
}
.fdm-menu-image.fdm-menu-sidebar-1 {
	width: calc(100% - 372px) !important;
}

.fdm-menu-image .fdm-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.fdm-menu-image.fdm-columns-2 .fdm-column,
.fdm-menu-image.fdm-columns-2 .fdm-column-last {
	float: none;
	width: 100%;
	margin: 0;
}

.fdm-menu-title {
	font-size: 250%;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #333;
}
.fdm-menu-footer {
	border-top: 1px solid #333;
	padding-top: 0.5em;
}

.fdm-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2%;
	margin-top: 0;
	margin-bottom: 80px;
}
.fdm-section-header {
	border-bottom: none !important;
	width: 100%;
}
.fdm-section-header::after {
	display: none;
}
.fdm-section-header h3 {
	margin-bottom: 14px !important;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}
.fdm-section-header p {
	font-size: 15px;
	text-align: left;
	line-height: 1.6;
}
.fdm-menu, .fdm-menu>li, .fdm-section, .fdm-section>li {
	list-style: none;
	position: relative;
}

.fdm-menu-image .fdm-section-header img {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	height: auto;
	margin-bottom: 32px;
}

.fdm-menu.fdm-menu-image .fdm-section.fdm-section-two:not(.fdm-hidden) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2%;
}
.fdm-menu.fdm-menu-image .fdm-section.fdm-section-two .fdm-section-header {
	width:  100%;
}
.fdm-menu.fdm-menu-image .fdm-section.fdm-section-two .fdm-item {
	width:  49%;
}
.fdm-menu.fdm-menu-image .fdm-section.fdm-section-two .fdm-item .fdm-item-price-wrapper {
	white-space:  normal;
}

@media screen and (max-width: 1024px) {
	.fdm-menu-image.fdm-menu-sidebar-1 {
		width: calc(100% - 260px) !important
	}
}

@media screen and (max-width: 768px) {
	.fdm-the-menu {
		flex-wrap: wrap;
	}
	.fdm-menu-image.fdm-menu-sidebar-1 {
		width: 100% !important;
	}
}


/**************
BLOCK PATTERNS
**************/

.fdm-pattern-menu-no-sidebar .fdm-menu-image.fdm-menu-sidebar-1 {
	width: 100% !important;
}
.fdm-pattern-items-just-image.fdm-pattern-items-3 .fdm-item-image {
	display: block;
}


/**************
ITEM
**************/

.fdm-item {
	margin: 0 0 32px 0;
}
.fdm-section-two .fdm-item {
	width: 49%;
}
.fdm-section-three .fdm-item {
	width: 32%;
}
.fdm-section-four .fdm-item {
	width: 23.5%;
}
.fdm-section-five .fdm-item {
	width: 18.4%;
}

.fdm-item-special {
	width: 100%;
	padding: 4px 0;
	margin: 3px 0 0;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
	border-radius: 8px;
}
.fdm-item-has-image .fdm-item-special {
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 2;
	width: 120px;
	padding: 4px 0;
	margin: 0;
	border-radius: 1000px;
}


.fdm-item-panel {
	position: relative;
	display: flex;
	flex-direction: column;
}

.fdm-menu .fdm-image-style-image-wrapper {
	width: 100%;
}
.fdm-item-image {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.fdm-item-non-image-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.fdm-item-has-image .fdm-item-panel p {
	padding-left: 0;
}
.fdm-item-has-price .fdm-item-panel p {
	padding-right: 0;
}

.fdm-item-panel .fdm-item-title {
	order: 1;
	font-size: 17px;
	font-weight: bold;
	color: #212427;
}
.fdm-item-has-image .fdm-item-panel .fdm-item-title {
	margin-top: 6px;
}

.fdm-item-content {
	order: 1;
}
.fdm-item-content p {
	font-size: 13px;
	font-weight: normal;
	color: #212427;
}

.fdm-item-price-wrapper {
	order: 3;
	position: relative;
	right: initial;
	top: initial;
	left: initial;
	bottom: initial;
	text-align: left;
	display: flex;
	width: 100%;
	margin: 12px 0 8px;
}
.fdm-item-price,
.fdm-item-price-discount {
	font-size: 15px;
	font-weight: bold;
	margin-right: 12px;
}
.fdm-item-price-discount:empty {
	margin-right: 0;
}
.fdm-item-has-price-discount .fdm-item-price {
	font-size: 15px;
}

.fdm-menu-item-flags {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
}
.fdm-item-has-image .fdm-menu-item-flags {
	top: 6px;
}
.fdm-menu-item-flags li {
	margin-right: 0;
	margin-left: 5px;
}

.fdm-src-panel {
	display: none;
}

@media screen and (max-width: 1100px) {
	.fdm-menu-image.fdm-menu-sidebar-1 .fdm-section-five .fdm-item {
		width: 23.5%;
	}
}

@media screen and (max-width: 900px) {
	.fdm-section-five .fdm-item {
		width: 23.5%;
	}
	.fdm-menu-image.fdm-menu-sidebar-1 .fdm-section-four .fdm-item,
	.fdm-menu-image.fdm-menu-sidebar-1 .fdm-section-five .fdm-item {
		width: 32%;
	}
}

@media screen and (max-width: 700px) {
	.fdm-section-four .fdm-item,
	.fdm-section-five .fdm-item {
		width: 32%;
	}
	.fdm-menu-image.fdm-menu-sidebar-1 .fdm-section-three .fdm-item,
	.fdm-menu-image.fdm-menu-sidebar-1 .fdm-section-four .fdm-item,
	.fdm-menu-image.fdm-menu-sidebar-1 .fdm-section-five .fdm-item {
		width: 49%;
	}
}

@media screen and (max-width: 568px) {
	.fdm-section-three .fdm-item,
	.fdm-section-four .fdm-item,
	.fdm-section-five .fdm-item {
		width: 49%;
	}
	.fdm-menu-image.fdm-menu-sidebar-1 {
		width: 100% !important;
	}
}


/**************
ORDERING
**************/

.fdm-menu-image .fdm-add-to-cart-button,
.fdm-menu-image .fdm-options-add-to-cart-button {
	order: 4;
	position: relative;
	right: initial;
	bottom: initial;
	width: 120px;
	text-align: center;
	border: 1px solid #212427;
	border-radius: 50px;
	color: #212427;
	font-size: 13px;
	margin-left: initial !important;
}
.fdm-menu-image .fdm-add-to-cart-button:hover,
.fdm-menu-image .fdm-options-add-to-cart-button:hover {
	background: #212427;
	color: #fff;
}

.fdm-hidden {
	display: none;
}